

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #custom_272829;
}

a {
  color: #custom_149ddd;
  text-decoration: none;
}

a:hover {
  color: #custom_37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.custom_back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #custom_149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.custom_4s;
}

.custom_back-to-top i {
  font-size: 28px;
  color: #custom_fff;
  line-height: 0;
}

.custom_back-to-top:hover {
  background: #custom_2eafec;
  color: #custom_fff;
}

.custom_back-to-top.custom_active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#custom_header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.custom_5s;
  z-index: 9997;
  transition: all 0.custom_5s;
  padding: 0 15px;
  background: #custom_040b14;
  overflow-y: auto;
}

#custom_header .custom_profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #custom_2c2f3f;
}

#custom_header .custom_profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#custom_header .custom_profile h1 a,
#custom_header .custom_profile h1 a:hover {
  color: #custom_fff;
  text-decoration: none;
}

#custom_header .custom_profile .custom_social-links a {
  font-size: 18px;
  display: inline-block;
  background: #custom_212431;
  color: #custom_fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.custom_3s;
}

#custom_header .custom_profile .custom_social-links a:hover {
  background: #custom_149ddd;
  color: #custom_fff;
  text-decoration: none;
}

#custom_main {
  margin-left: 300px;
}

.custom_container,
.custom_container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #custom_header {
    left: -300px;
  }

  #custom_main {
    margin-left: 0;
  }

  .custom_container,
  .custom_container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.custom_nav-menu {
  padding: 30px 0 0 0;
  max-height: 80vh; /* Limit height to fit within viewport */
  overflow-y: auto; /* Enable vertical scrolling */
}
.custom_nav-menu::-webkit-scrollbar {
  width: 6px; /* Set scrollbar width */
}

.custom_nav-menu::-webkit-scrollbar-thumb {
  background: #custom_149ddd; /* Thumb color */
  border-radius: 4px; /* Rounded scrollbar thumb */
}

.custom_nav-menu::-webkit-scrollbar-thumb:hover {
  background: #custom_37b3ed; /* Hover effect for thumb */
}

.custom_nav-menu::-webkit-scrollbar-track {
  background: #custom_212431; /* Scrollbar track color */
}


.custom_nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom_nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.custom_nav-menu a,
.custom_nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #custom_a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.custom_3s;
  font-size: 15px;
}

.custom_nav-menu a i,
.custom_nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #custom_6f7180;
}

.custom_nav-menu a:hover,
.custom_nav-menu .custom_active,
.custom_nav-menu .custom_active:focus,
.custom_nav-menu li:hover>a {
  text-decoration: none;
  color: #custom_fff;
}

.custom_nav-menu a:hover i,
.custom_nav-menu .custom_active i,
.custom_nav-menu .custom_active:focus i,
.custom_nav-menu li:hover>a i {
  color: #custom_149ddd;
}

/* Mobile Navigation */
.custom_mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.custom_4s;
  outline: none !important;
  background-color: #custom_149ddd;
  color: #custom_fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.custom_mobile-nav-active {
  overflow: hidden;
}

.custom_mobile-nav-active #custom_header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#custom_hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.custom_jpg") top center;
  background-size: cover;
}

#custom_hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.custom_3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#custom_hero .custom_hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#custom_hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #custom_fff;
}

#custom_hero p {
  color: #custom_fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#custom_hero p span {
  color: #custom_fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #custom_149ddd;
}

@media (min-width: 1024px) {
  #custom_hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #custom_hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #custom_hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
/*--------------------------------------------------------------
# Dynamic Display
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.custom_section-bg {
  background: #custom_f5f8fd;
}

.custom_section-title {
  padding-bottom: 30px;
}

.custom_section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #custom_173b6c;
}

.custom_section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #custom_149ddd;
  bottom: 0;
  left: 0;
}

.custom_section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.custom_about .custom_content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #custom_173b6c;
}

.custom_about .custom_content ul {
  list-style: none;
  padding: 0;
}

.custom_about .custom_content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.custom_about .custom_content ul strong {
  margin-right: 10px;
}

.custom_about .custom_content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #custom_149ddd;
  line-height: 0;
}

.custom_about .custom_content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.custom_resume_initial .custom_content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #custom_173b6c;
}

.custom_resume_initial .custom_content ul {
  list-style: none;
  padding: 0;
}

.custom_resume_initial .custom_content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.custom_resume_initial .custom_content ul strong {
  margin-right: 10px;
}

.custom_resume_initial .custom_content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #custom_149ddd;
  line-height: 0;
}

.custom_resume_initial .custom_content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.custom_facts {
  padding-bottom: 30px;
}

.custom_facts .custom_count-box {
  padding: 30px;
  width: 100%;
}

.custom_facts .custom_count-box i {
  display: block;
  font-size: 44px;
  color: #custom_149ddd;
  float: left;
  line-height: 0;
}

.custom_facts .custom_count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #custom_050d18;
  margin-left: 60px;
}

.custom_facts .custom_count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #custom_122f57;
}

.custom_facts .custom_count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #custom_122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.custom_3s;
}

.custom_facts .custom_count-box a:hover {
  color: #custom_1f5297;
}

/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/
.custom_skills .custom_progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.custom_skills .custom_progress .custom_skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #custom_050d18;
}

.custom_skills .custom_progress .custom_skill .custom_val {
  float: right;
  font-style: normal;
}

.custom_skills .custom_progress-bar-wrap {
  background: #custom_dce8f8;
  height: 10px;
}

.custom_skills .custom_progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.custom_9s;
  background-color: #custom_149ddd;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.custom_resume .custom_resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #custom_050d18;
}

.custom_resume .custom_resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #custom_1f5297;
  position: relative;
}

.custom_resume .custom_resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #custom_050d18;
  margin-bottom: 10px;
}

.custom_resume .custom_resume-item h5 {
  font-size: 16px;
  background: #custom_e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.custom_resume .custom_resume-item ul {
  padding-left: 20px;
}

.custom_resume .custom_resume-item ul li {
  padding-bottom: 10px;
}

.custom_resume .custom_resume-item:last-child {
  padding-bottom: 0;
}

.custom_resume .custom_resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #custom_fff;
  border: 2px solid #custom_1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.custom_portfolio .custom_portfolio-item {
  margin-bottom: 30px;
}

.custom_portfolio #custom_portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #custom_fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.custom_portfolio #custom_portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #custom_272829;
  margin-bottom: 5px;
  transition: all 0.custom_3s ease-in-out;
}

.custom_portfolio #custom_portfolio-flters li:hover,
.custom_portfolio #custom_portfolio-flters li.custom_filter-active {
  color: #custom_149ddd;
}

.custom_portfolio #custom_portfolio-flters li:last-child {
  margin-right: 0;
}

.custom_portfolio .custom_portfolio-wrap {
  transition: 0.custom_3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.custom_portfolio .custom_portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.custom_5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.custom_3s;
  z-index: 2;
  opacity: 0;
}

.custom_portfolio .custom_portfolio-wrap .custom_portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.custom_3s;
  display: flex;
  justify-content: center;
}

.custom_portfolio .custom_portfolio-wrap .custom_portfolio-links a {
  color: #custom_fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.custom_75);
  transition: 0.custom_3s;
  width: 50%;
}

.custom_portfolio .custom_portfolio-wrap .custom_portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.custom_95);
}

.custom_portfolio .custom_portfolio-wrap .custom_portfolio-links a+a {
  border-left: 1px solid #custom_37b3ed;
}

.custom_portfolio .custom_portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.custom_portfolio .custom_portfolio-wrap:hover .custom_portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.custom_portfolio-details {
  padding-top: 40px;
}

.custom_portfolio-details .custom_portfolio-details-slider img {
  width: 100%;
}

.custom_portfolio-details .custom_portfolio-details-slider .custom_swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.custom_portfolio-details .custom_portfolio-details-slider .custom_swiper-pagination .custom_swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #custom_fff;
  opacity: 1;
  border: 1px solid #custom_149ddd;
}

.custom_portfolio-details .custom_portfolio-details-slider .custom_swiper-pagination .custom_swiper-pagination-bullet-active {
  background-color: #custom_149ddd;
}

.custom_portfolio-details .custom_portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.custom_08);
}

.custom_portfolio-details .custom_portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #custom_eee;
}

.custom_portfolio-details .custom_portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.custom_portfolio-details .custom_portfolio-info ul li+li {
  margin-top: 10px;
}

.custom_portfolio-details .custom_portfolio-description {
  padding-top: 30px;
}

.custom_portfolio-details .custom_portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.custom_portfolio-details .custom_portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.custom_services .custom_icon-box {
  margin-bottom: 20px;
}

.custom_services .custom_icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #custom_149ddd;
  border-radius: 50%;
  transition: 0.custom_5s;
  border: 1px solid #custom_149ddd;
}

.custom_services .custom_icon i {
  color: #custom_fff;
  font-size: 24px;
  line-height: 0;
}

.custom_services .custom_icon-box:hover .custom_icon {
  background: #custom_fff;
}

.custom_services .custom_icon-box:hover .custom_icon i {
  color: #custom_149ddd;
}

.custom_services .custom_title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.custom_services .custom_title a {
  color: #custom_343a40;
}

.custom_services .custom_title a:hover {
  color: #custom_149ddd;
}

.custom_services .custom_description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.custom_testimonials .custom_testimonials-carousel,
.custom_testimonials .custom_testimonials-slider {
  overflow: hidden;
}

.custom_testimonials .custom_testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.custom_testimonials .custom_testimonial-item .custom_testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.custom_testimonials .custom_testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #custom_111;
}

.custom_testimonials .custom_testimonial-item h4 {
  font-size: 14px;
  color: #custom_999;
  margin: 0;
}

.custom_testimonials .custom_testimonial-item .custom_quote-icon-left,
.custom_testimonials .custom_testimonial-item .custom_quote-icon-right {
  color: #custom_c3e8fa;
  font-size: 26px;
}

.custom_testimonials .custom_testimonial-item .custom_quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.custom_testimonials .custom_testimonial-item .custom_quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.custom_testimonials .custom_testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #custom_fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.custom_1);
}

.custom_testimonials .custom_testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #custom_fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.custom_testimonials .custom_swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.custom_testimonials .custom_swiper-pagination .custom_swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #custom_fff;
  opacity: 1;
  border: 1px solid #custom_149ddd;
}

.custom_testimonials .custom_swiper-pagination .custom_swiper-pagination-bullet-active {
  background-color: #custom_149ddd;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.custom_contact {
  padding-bottom: 130px;
}

.custom_contact .custom_info {
  padding: 30px;
  background: #custom_fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.custom_12);
}

.custom_contact .custom_info i {
  font-size: 20px;
  color: #custom_149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #custom_dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.custom_3s ease-in-out;
}

.custom_contact .custom_info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #custom_050d18;
}

.custom_contact .custom_info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #custom_173b6c;
}

.custom_contact .custom_info .custom_email p {
  padding-top: 5px;
}

.custom_contact .custom_info .custom_social-links {
  padding-left: 60px;
}

.custom_contact .custom_info .custom_social-links a {
  font-size: 18px;
  display: inline-block;
  background: #custom_333;
  color: #custom_fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.custom_3s;
  margin-right: 10px;
}

.custom_contact .custom_info .custom_social-links a:hover {
  background: #custom_149ddd;
  color: #custom_fff;
}

.custom_contact .custom_info .custom_email:hover i,
.custom_contact .custom_info .custom_address:hover i,
.custom_contact .custom_info .custom_phone:hover i {
  background: #custom_149ddd;
  color: #custom_fff;
}

.custom_contact .custom_php-email-form {
  width: 100%;
  padding: 30px;
  background: #custom_fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.custom_12);
}

.custom_contact .custom_php-email-form .custom_form-group {
  padding-bottom: 8px;
}

.custom_contact .custom_php-email-form .custom_validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.custom_contact .custom_php-email-form .custom_error-message {
  display: none;
  color: #custom_fff;
  background: #custom_ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.custom_contact .custom_php-email-form .custom_error-message br+br {
  margin-top: 25px;
}

.custom_contact .custom_php-email-form .custom_sent-message {
  display: none;
  color: #custom_fff;
  background: #custom_18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.custom_contact .custom_php-email-form .custom_loading {
  display: none;
  background: #custom_fff;
  text-align: center;
  padding: 15px;
}

.custom_contact .custom_php-email-form .custom_loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #custom_18d26e;
  border-top-color: #custom_eee;
  animation: animate-loading 1s linear infinite;
}

.custom_contact .custom_php-email-form .custom_form-group {
  margin-bottom: 15px;
}

.custom_contact .custom_php-email-form label {
  padding-bottom: 8px;
}

.custom_contact .custom_php-email-form input,
.custom_contact .custom_php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.custom_contact .custom_php-email-form input {
  height: 44px;
}

.custom_contact .custom_php-email-form textarea {
  padding: 10px 15px;
}

.custom_contact .custom_php-email-form button[type=submit] {
  background: #custom_149ddd;
  border: 0;
  padding: 10px 24px;
  color: #custom_fff;
  transition: 0.custom_4s;
  border-radius: 4px;
}

.custom_contact .custom_php-email-form button[type=submit]:hover {
  background: #custom_37b3ed;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.custom_breadcrumbs {
  padding: 20px 0;
  background: #custom_f9f9f9;
}

.custom_breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.custom_breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.custom_breadcrumbs ol li+li {
  padding-left: 10px;
}

.custom_breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #custom_0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .custom_breadcrumbs .custom_d-flex {
    display: block !important;
  }

  .custom_breadcrumbs ol {
    display: block;
  }

  .custom_breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#custom_footer {
  padding: 15px;
  color: #custom_f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #custom_040b14;
}

#custom_footer .custom_copyright {
  text-align: center;
}

#custom_footer .custom_credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #custom_eaebf0;
}

@media (max-width: 1199px) {
  #custom_footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

